* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    background-color: #e7eaec;
    padding: 0;
    margin: 0;
    min-height: 100vh;
  }

#left-side-of-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28em;
    background-color: #7caab8;
}

#img-of-daniel{
    width: 20em;
}

#education-header{
    margin-bottom: -0.5em;
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#education-paragraph{
    margin-top: -8em;
    font-size: 1em;
}

#expertise-header{
    font-size: 1.8em;
    margin-bottom: -0.5em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#expertise-paragrapgh{
    margin-top: -6em;
    font-size: 1.2em;
    margin-right: 1em;
}


.logo {
    width: 3em;
    height: 3em;
    padding: 0.7em;
}

#github-logo {
    width: 7.6em;
}

.checked {
    color: orange;
    margin-bottom: 0.2em;
   }

.done-sign{
    height: 1.3em;
    width: 1.5em;
    margin: 0;
}

#right-side-of-page{
        background-color: #A9E7E6;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
}

#header-of-page{
    width: 100%;
    height: auto;
    border-width: 1px;
    border-bottom: solid;
    border-width: 1px;    
}

h1{
    padding-top: 0.5em;
    padding-left: 1.2em;
    padding-bottom: 0.2em;
    font-size: 4.5em;
    margin: 0;
    
}

h2{
    font-size: 3.2em;
    margin: 0;
    padding-left: 8em;
    margin-bottom: 0.5em;
}

#body-of-the-page{
    background-color: #b6c4dc;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 100%;
}

#left-box-of-phone{
    background-color: #A9E7E6;
    width: 150px;
    height: 1.6em;
    text-align: center;
}

#right-box-of-phone{
    background-color: white;
    width: 250px;
    height: 1.6em;
    text-align: center;
}

#left-box-of-email{
    background-color: #A9E7E6;
    width: 150px;
    height: 1.6em;
    text-align: center;
}

#right-box-of-email{
    background-color: white;
    width: 250px;
    height: 1.6em;
    text-align: center;
}

#boxes-of-phone{
    display: flex;
    margin-bottom: 3.5em;
    width: 100%;
}

#boxes-of-email{
    display: flex;
    margin-bottom: 5.5em;
    width: 100%;
}

#all-details-boxes{
    align-self: flex-end; 
    display: flex;
    flex-direction: column;
    width: 23em;
} 

#certificate-headline{
    font-size: 2.8em;
    width: 10em;
    text-align: center;
    margin-top: 2em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#certificate-paragraph{
    margin-left: 2.4em;
    font-size: 0.93em;
}

#left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bottom-left-side-body{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: #A9E7E6;
    border-top: solid;
    border-width: 1px; 
    border-right: solid;
    border-width: 1px; 

}

#top-left-side-body{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: #b6c4dc;
}

#work-experience-header{
    text-align: center;
    margin-right: 4.5em;
    margin-left: 2em;
    font-size: 2em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#work-experience-paragraph{
    margin-left: 4.3em;
    font-size: 1em;
}

#personal-info-header{
    margin-left: 2em;
    font-size: 2em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#personal-info-paragraph{
    margin-left: 2.3em;
    font-size: 1em;
    text-align: center;
}

#extra-skills-header{
    margin-left: 2em;
    font-size: 2em;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#extra-skills-paragraph{
    margin-left: 4.3em;
    font-size: 1em;
}

#copy-rights{
    margin-top: 2em;
}

#text-stuff-in-work-experience{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#research-pa{
    width: 50%;
    height: 50%;
    text-align: center;
    border-bottom: solid;    
    border-width: 1px; 
}

#dct-pa{
    width: 50%;
    height: 50%;
    text-align: center;
    border-bottom: solid;
    border-width: 1px; 
}

#programmer-pa{
    width: 50%;
    height: 50%;
    text-align: center;
    border-bottom: solid;
    border-width: 1px; 
    
}

#even-pa{
    width: 50%;
    height: 50%;
    text-align: center;
    border-bottom: solid;
    border-width: 1px; 
}

